.Movie-detail-container {
    display: flex;
    margin: 20px;
}

.links-container {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}

.image-container {
    margin: 50px;
    background-color: #bbc4cc;
}

.content-container {
    margin: 50px;
    background-color: #ffffff;
    border: solid 1px #bbc4cc;
    border-radius: 1em;
    padding: 20px;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    font-size: 14px;
    margin-bottom: 20px;
}

.average-rating {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}

.total-reviews {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}

input {
    border-radius: .25em;
    width: 200px;
    padding: 5px;
}

.img {
    height: 350px;
}

.error-msg {
    color: red;
    padding: 5px 0;
}